<p style="font-style:italic;">
    Learn more about the instrument <a href="https://www.gcna.org/about-carillons" target="_blank">here</a>.
</p>

<!-- <p>
    I began my carillon journey at UC Berkeley, where I studied with University Carillonist Jeff Davis for two years.
    Under his guidance, I advanced to become a Carillonneur member of the Guild of Carillonneurs in North America in June 2024.
</p>

<p>
    I now play at the Hoover Tower in Stanford and occasionally making trips across the bay to play in Berkeley, where I'm
    an Associate Carillonist. Below is a list of some recent and upcoming concerts!
</p> -->

<p>
    I'm an Associate Carillonist at UC Berkeley and a member of the Guild of Carillonneurs in North America.
    My carillon journey began at UC Berkeley, where I studied with University Carillonist Jeff Davis and was involved in the
    <a href="https://bells.studentorg.berkeley.edu/" target="_blank">Berkeley Carillon Guild</a>.
</p>

<p>
    I now play at the towers in both Stanford and Berkeley! Below are details of some recent and upcoming concerts.
</p>

<h2 class="concert-year">2025</h2>

Coming soon ~

<h2 class="concert-year">2024</h2>

<p class="concert"><span class="concert-date">12/14</span> &nbsp; Hoover Tower, Stanford, CA</p>

<p class="concert"><span class="concert-date">11/24</span> &nbsp; Sather Tower, Berkeley, CA</p>
<pre class="concert-subtitle">               <a href="/files/20241124.pdf" target="_blank">program</a></pre>

<p class="concert"><span class="concert-date">11/10</span> &nbsp; Sather Tower, Berkeley, CA</p>
<pre class="concert-subtitle">               with Brunston Poon, <a href="/files/20241110.pdf" target="_blank">program</a></pre>

<p class="concert"><span class="concert-date">10/30</span> &nbsp; Hoover Tower, Stanford, CA</p>
<pre class="concert-subtitle">               with Abby Pan & Emily Nigro</pre>

<p class="concert"><span class="concert-date">&nbsp;9/22</span> &nbsp; Sather Tower, Berkeley, CA</p>
<pre class="concert-subtitle">               with Abby Pan, <a href="/files/20240922.pdf" target="_blank">program</a></pre>

<p class="concert"><span class="concert-date">&nbsp;7/28</span> &nbsp; Basilique Saint-Sernin, Toulouse, France</p>
<pre class="concert-subtitle">               with Brunston Poon, <a href="https://www.carillonsenpaysdoc.fr/fr/f-estival-carillons-en-31-2024", target="_blank">link</a></pre>

<p class="concert"><span class="concert-date">&nbsp;7/27</span> &nbsp; Collégiale Notre Dame, Villefranche de Rouergue, France</p>
<pre class="concert-subtitle">               with Brunston Poon, <a href="https://www.carillonsenpaysdoc.fr/fr/agenda/2024-07-villefranche-de-rouergue-concert-de-carillon", target="_blank">link</a></pre>

<p class="concert"><span class="concert-date">&nbsp;7/24</span> &nbsp; Stift Heiligenkreuz, Vienna, Austria</p>

<p class="concert"><span class="concert-date">&nbsp;6/29</span> &nbsp; Sather Tower, Berkeley, CA</p>
<pre class="concert-subtitle">               10th Berkeley Carillon Festival, <a href="https://drive.google.com/file/d/1lg1oXuK03_zxvI4OzPNhBb88hw9WIkGg/view" target="_blank">program</a></pre>

<p class="concert"><span class="concert-date">&nbsp;6/06</span> &nbsp; Marsh Memorial Tower, Athens, WV</p>
<pre class="concert-subtitle">               81st Annual Congress of the GCNA, advancement recital</pre>

<p class="concert"><span class="concert-date">&nbsp;5/25</span> &nbsp; Hoover Tower, Stanford, CA</p>
<pre class="concert-subtitle">               Berkeley-Stanford exchange guest recital</pre>

<p class="concert"><span class="concert-date">&nbsp;4/28</span> &nbsp; Sather Tower, Berkeley, CA</p>
<pre class="concert-subtitle">               Spring 2024 student final recital</pre>

<p class="concert"><span class="concert-date">&nbsp;3/17</span> &nbsp; Sather Tower, Berkeley, CA</p>
<pre class="concert-subtitle">               with Anna Zhao, <a href="/files/20240317.pdf" target="_blank">program</a></pre>

<p class="concert" style="margin-bottom:5vh;">Weekly concerts, Thursday 6pm at Sather Tower (January through May)</p>