<p>Hi! I'm a second-year at UC Berkeley studying computer science and logic while learning how to build tech for a better future. 
  I'm currently exploring AI and robotics with an interest in improving the way machines perceive and reason about the world, especially around humans.</p>

<p>I spend time building ML projects at <a href="https://launchpad.berkeley.edu/" target="_blank">Launchpad</a><img src="images/arrow.svg"/> 
  and teaching as an undergraduate student instructor for <a href="https://www.eecs70.org/" target="_blank">CS 70</a><img src="images/arrow.svg"/>.
  In the past, I've worked on sensor fusion for driver-assist technologies with the Research & Advanced Engineering group at 
  <a href="https://corporate.ford.com/operations/locations/silicon-valley.html" target="_blank">Ford Greenfield Labs</a><img src="images/arrow.svg"/>.</p>

<p></p>

<p>I also <a href="https://www.goodreads.com/michelllepan" target="_blank">read</a><img src="images/arrow.svg"/>, 
  <a href="https://behance.net/michelllepan" target="_blank">design</a><img src="images/arrow.svg"/>, 
  and struggle through New York Times crosswords :)</p>