<p>
  Hi! I'm a fourth-year at UC Berkeley studying computer science and learning how to build intelligent, human-centered technology. 
  I'm exploring AI and robotics with an interest in improving the way machines understand and interact with the world around them.
</p>

<p>
  Currently, I'm working on algorithmic HRI research at the
  <a href="https://interact.berkeley.edu/" target="_blank">InterACT lab<img src="images/arrow.svg"/></a> 
  and teaching as an undergraduate student instructor for 
  <a href="https://www.eecs70.org/" target="_blank">CS 70<img src="images/arrow.svg"/></a>.
  I also tinker with machine learning as part of the wonderful community at 
  <a href="https://launchpad.berkeley.edu/" target="_blank">Launchpad<img src="images/arrow.svg"/></a>.
</p>

<p>
  In the past, I was an intern at
  <a href="https://everydayrobots.com/" target="_blank">Everyday Robots<img src="images/arrow.svg"/></a>, 
  where I worked on vision & language models for zero-shot object detection and played with robots in my free time. 
  Before that, my time was spent across various adventures in technology for autonomous vehicles and social good.
</p>

<p>
  When I'm not doing the above, you can find me 
  <a href="https://curius.app/michelle-pan" target="_blank">jumping down internet rabbit holes<img src="images/arrow.svg"/></a>, 
  <a href="https://goodreads.com/michelllepan" target="_blank">sticking my nose in a book<img src="images/arrow.svg"/></a>, 
  <a href="https://bells.berkeley.edu/">playing the carillon<img src="images/arrow.svg"/></a>,
  or working through New York Times crosswords with friends :)
</p>