<p>
  Hi! I'm an engineer & researcher who is excited about robots and creating technology that feels like magic. 
</p>

<p>
  I recently graduated from UC Berkeley, where I worked on human-AI interaction research at the
  <a href="https://interact.berkeley.edu/" target="_blank">InterACT lab<img src="images/arrow.svg"/></a>
  and tinkered with machine learning as part of the wonderful community at 
  <a href="https://launchpad.berkeley.edu/" target="_blank">Launchpad<img src="images/arrow.svg"/></a>.
  I also taught as a student instructor for 
  <a href="https://www.eecs70.org/" target="_blank">CS 70<img src="images/arrow.svg"/></a>
  and played the 
  <a href="https://bells.berkeley.edu/">bells in the campanile<img src="images/arrow.svg"/></a>.
</p>

<p>
  Previously, I spent summers working with vision-language models on the perception team at
  <a href="https://everydayrobots.com/" target="_blank">Everyday Robots<img src="images/arrow.svg"/></a>
  and developing sensor fusion algorithms for L3 autonomy at
  <a href="https://corporate.ford.com/operations/locations/silicon-valley.html" target="_blank">Ford Greenfield Labs<img src="images/arrow.svg"/></a>.
</p>

<p>
  When I'm not doing the above, you can find me 
  <a href="https://curius.app/michelle-pan" target="_blank">jumping down internet rabbit holes<img src="images/arrow.svg"/></a>, 
  <a href="https://goodreads.com/michelllepan" target="_blank">sticking my nose in a book<img src="images/arrow.svg"/></a>, 
  or working through New York Times crosswords with friends :)
</p>