<div class="icon-wrapper-outer">
    <div class="icon-wrapper-inner">
        <a href="https://github.com/michelllepan" target="_blank">
            <img class="icon" src="images/github.svg" style="margin-right: 5px;"/>
        </a>
    </div>
    
    <div class="icon-wrapper-inner">
        <a href="https://linkedin.com/in/michelllepan" target="_blank">
            <img class="icon" src="images/linkedin.svg" style="margin-right: 5px;"/>
        </a>
    </div>
    
    <div class="icon-wrapper-inner" style="width:20px;">
        <a href="https://read.cv/michelllepan" target="_blank">
            <img class="icon" src="images/resume.svg"/>
        </a>
    </div>

    <div class="icon-wrapper-inner">
        <a href="mailto: michellepan8@gmail.com" target="_blank">
            <img class="icon" src="images/email.svg"/>
        </a>
    </div>
</div>
