<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="icon" type="image/svg+xml" href="{{ "/assets/images/mp.svg" | relative_url }}">
    <link rel="stylesheet" href="https://use.typekit.net/omz0idg.css">
    <link rel="stylesheet" href="{{ "/assets/css/project.css" | relative_url }}">
    <script src="https://player.vimeo.com/api/player.js"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7YN2LJ770T"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-7YN2LJ770T');
    </script>
  </head>
  <body>
    <div class="site-wrapper">
        <div class="site-content">
            {{ content }}
        </div>
    </div>
    
  </body>
</html>
